@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(244, 245, 246);
}

.bg-red {
  background-color: red;
}

.logo {
  width: 120px;
}

.main-logo {
  width: 410px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.logo img {
  object-fit: unset;
}

.nav-right {
  padding-right: 10px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

span:hover {
  color: #f74334;
}

.subscribe {
    height: 300px;
  
}
  
.heading-gray-color {
    color: rgba(3, 3, 3, 0.4);
    line-height: 16px;
}
  
.text-gray {
    color: rgba(3, 3, 3, 0.5);
}
  
.black-color {
    color: #000;
}
  
.red-text {
    color: #f72210;
}
  
.white-text {
    color: #fff;
}
  
.signup-bg {
    background-color: rgb(244, 245, 246);
}
  
.red-bg {
    background-color: #f72210;
}
  
.news-ltr-clr {
    color: #333;
    font-weight: 300;
    line-height: 21px;
}
   
.roboto-cond {
    font-family: 'Roboto Condensed', sans-serif;
}
  
.large-font {
    font-size: 20px;
    line-height: 20px;
}
  
.small-font {
    font-size: 15px;
}
  
.sm-heading {
    font-size: 17px;
    line-height: 16px;
}
  
.debate-subheading {
    font-size: 20px;
    line-height: 20px;
}

.row > div {
    padding: 10px;
}
  
section h2 {
    font-size: 22px;
    font-weight: bold;
}
  
.debate-item-top,
.opinion-items li,
.flex-sm,
.sub-item,
.newsletter-block {
    display: flex;
}
  
.float-right {
    float: right;
}
  
.round-vs {
    text-align: center;
    background-color: black;
    color: #d6d6d6;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: 0 auto;
    transform: translateY(-90%);
    font-size: 15px;
    font-weight: bold;
}
  
hr.hr-style {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}
  
hr.hr-style:after {
    content: '';
    display: block;
    margin-top: 2px;
    border-top: 1px solid #8c8b8b;
}
  
ul {
    list-style: none;
}
  
.opinion-content ul {
    padding-left: 0px;
}
  
.col-sm-4 h5 {
    font-size: 16px;
    font-weight: bold;
}
  
.subscribe-img {
    position: relative;
    display: inline-block;
    height: 160px;
    padding-bottom: 18px;
    padding-right: 90px;
}
  
.current {
    left: 80px;
    top: 20px;
    position: absolute;
}
  
.s-img {
    width: 170px;
    height: 228px;
}
  
.img-c,
.img-p {
    vertical-align: middle;
    height: auto;
    width: 100%;
}
  
.col-md-4 h2,
.col-md-3 h3 {
    font-size: 22px;
}
  
.form-submit,
.title,
.subscribe-btn {
      text-transform: uppercase;
}

.footer-image {
    width: 20px;
}
  
.bottom-footer li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
  
.footer-logo {
    object-fit: unset;
}
  
.footer-icon {
    width: 250px;
}
  
.footer-p {
    font-size: 12px;
    padding-left: 110px;
}

@media only screen and (min-width: 768px)  {
  .subscribe-items {
    display: flex;
  }
}

@media only screen and (max-width: 767px)  {
  .subscribe-items {
    text-align: center;
  }
  
  .subscribe-content {
    position: relative;
  }
  
  .subscribe-img {
  display: inline-block;
  margin-bottom: 15px;
  height: 160px;
}
  
  .subscribe-info {
    border: 1px solid black;
    transform: translateY(-22%);
  }
  
  .newsletter-img {
    display: none;
  }
  
  .newsletter-block {
    text-align: center;
  }
  
  .newsletter-info {
    border: 1px solid #ebebeb;
    width: 100%;
    padding-right: 20px;
    padding-top: 20px;
  }
  
  .form-submit {
    padding-bottom: 20px;
  }
}